root {
	display: 'flex',
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

drawer {
	width: drawerWidth;
		flex-shrink: 0;
}

drawerPaper {
	width: drawerWidth;
}

drawerHeader {
	display: 'flex';
	align-items: 'center';
	justify-content: 'flex-start';
	padding: theme.spacing(0, 1);
	{...theme.mixins.toolbar}
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.appBar {
	height: 60px;
	z-index: theme.z-index.drawer + 1,
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}